* {
    box-sizing: border-box;
    font-family: monospace;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #666666;
    overflow: hidden;
    position: fixed;
    width: 100%
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #05ffb4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration: solid;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #949494;
    color: #7c2d38;
    text-decoration: wavy;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #030165;
    color: white;
    text-decoration: wavy;
  }
  
  #navbar {
      word-spacing: 40px;
      color: #a100db;
      position: fixed; 
      top: 0;
      width: 100%;
      overflow: hidden;
      background-color: #5c5c5c;
      transform: translateY(0);
      
  }
  
   
  .topnav:hover #navbar{
      transform: translateY(0);
  }
  